/* Ð¡ommon */

.button,
.alternativeButton {
 border: none;
  background: var(--color-scheme-foreground-alt);
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 42px;
  font-weight: 500;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text)
}

.button:disabled,
.alternativeButton:disabled {
  opacity: 0.3;
}

@media screen and (min-width: 1440px) {
  .button,
  .alternativeButton {
    font-size: 16px;
  }
}

/* First variant */

.button:hover,
.button:focus {
 background: var(--color-scheme-background);
  border-bottom: 4px solid var(--color-scheme-border);
}

.button:active {
background: var(--color-neutral-light);
}

/* .button {
  background: #FFDAE0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #FFCBD3;
  outline: none;
  padding: 8px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* Alternative */

.alternativeButton {
  background: var(--opacity-neutral-darkest-5);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  min-height: 46px;
  padding: 10px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.alternativeButton:hover,
.alternativeButton:focus {
  background: var(--color-scheme-background);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  outline: none;
}

.alternativeButton:active {
  background: var(--color-neutral-light);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}


@media (min-width: 1440px) {
  .button {
    font-size: 16px;
  }
}