/* Ð¡ommon */

.button,
.alternativeButton {
  max-width: 480px;
  width: 100%;
  min-height: 46px;

  display: flex;

  align-items: center;
  justify-content: center;

  line-height: 0;

  border-radius: 100px;
  border: none;
  outline: none;

  transition: all 0.2s ease-in;

  font-size: 0.7em;

  vertical-align: middle;

  line-height: 160%;
  font-weight: 500;
  color: var(--color-scheme-text);
}

.button:disabled,
.alternativeButton:disabled {
  opacity: 0.3;
}

@media screen and (min-width: 1200px) {
  .button,
  .alternativeButton {
    font-size: 16px;
  }
}

/* First variant */

.button:hover,
.button:focus {
  background: #FFC5D3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  outline: none;
}

.button:active {
  background: #FFB8CA;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.button {
  background: #FFD9E2;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Alternative */

.alternativeButton {
  background: var(--opacity-neutral-darkest-5);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alternativeButton:hover,
.alternativeButton:focus {
  background: var(--color-scheme-background);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  outline: none;
}

.alternativeButton:active {
  background: var(--color-neutral-light);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
