.header {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-scheme-background);
  padding-bottom: 24px;
}

.logoImg {
  height: auto;
}

.burgerBtn {
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .header {
    display: none;
  }
}
