.header {
  width: 375px;
  margin: 0 auto;
}

.logo {
  padding-left: 20px;
  padding-top: 20px;
  display: block;
}

@media only screen and (min-width: 768px) {
  .header {
    width: 768px;
    margin: 0 auto;
  }

  .logo {
    padding-left: 32px;
    padding-top: 20px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header {
    width: 1440px;
    margin: 0 auto;
  }

  .logo {
    padding-left: 20px;
    padding-top: 20px;
  }
}
