.greetingTitle {
  margin-bottom: 16px;
  width: 100%;
  min-height: 34px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: start;
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 700;
  color: var(--color-neutral-darkest);
}


@media (min-width: 1440px) {
  .greetingTitle {
    height: 45px;
    font-size: 32px;
  }
}
