.dashboardContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .dashboardContainer {
    max-width: 100%;
    max-height: 790px;
    align-items: start;
    flex-wrap: wrap;
    gap: 0 32px;
  }
}