

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}

/* .profile_row {
    display: flex;
    align-items: flex-start;
} */
/* .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 132px;
} */

.avatarWrapper{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Аватар */
.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatarPlaceholder{
    color: #888;
    font-size: 16px;
}

.nameEmail{
    text-align: center;
}
/* Відступ 12px від аватарки */
.name {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}

/* Пошта одразу під імʼям */
.email {
    margin-top: 4px;
    font-size: 14px;
    color: #666;
}

/* Кнопка */
.uploadButton {
    width: 335px;
    margin-top: 12px;
    padding: 10px 24px;
    border-radius: 999px;
    border: none;
    background: #f2f2f2;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}

@media(min-width: 768px){

    .wrapper {
        flex-direction: row;
        gap: 12px;
        width: 736px;

        padding-left: 32px;
        /* margin-left: 0;
        margin-right: 0;  */
        justify-content: flex-start;
        
    }
    .nameEmail{
        text-align: left;
    }
    .uploadButton {
        width: 218px;
        height: 38px;
    }
}

@media(min-width: 1280px){
    .wrapper {
        width: 644px;
    }
}