

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
    margin-top: 16px;
}

.avatarWrapper{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Аватар */
.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatarPlaceholder{
    color: #888;
    font-size: 16px;
}

.nameEmail{
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
}
/* Відступ 12px від аватарки */
.name {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--second-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-text);
}

/* Пошта одразу під імʼям */
.email {
    margin-top: 4px;
    font-size: 14px;
}

/* Кнопка */
.uploadButton {
    width: 335px;
    height: 38px;
    margin-top: 16px;
    padding: 8px 20px;
    border-radius: 999px;
    border: none;
    background: var(--opacity-neutral-darkest-5);
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
    border-radius: 100px;
    padding: 8px 20px;
    width: 335px;
    height: 38px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
}
.uploadButton:hover{
    background: var(--color-scheme-background);
}
.uploadButton:active{
    background: var(--color-neutral-light);
}

@media(min-width: 768px){

    .wrapper {
        flex-direction: row;
        gap: 12px;
        width: 736px;

        padding-left: 32px;
        /* margin-left: 0;
        margin-right: 0;  */
        justify-content: flex-start;
        
    }
    .nameEmail, .name{
        text-align: left;
    }
    .uploadButton {
        width: 218px;
        height: 38px;
    }
}

@media(min-width: 1440px){
    .wrapper {
        width: 644px;
        padding-left: 0;

    }
    .uploadButton{
        height: 42px;
        font-size: 16px;
    }

    .name {
        font-size: 24px;
    }

    .nameEmail {
        font-size: 16px;
    }
}