.container {
  background: var(--color-scheme-foreground);
  border-radius: 32px;
  padding: 24px 16px;
  width: 335px;
  height: 97px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  margin-top: 15px;
}
