/* delete .burgerBtn as i said in Sidebar.tsx */
.burgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 320px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16 24px;
}

.closeBtn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  fill: #000;
  stroke-width: 1px;
  stroke: #000;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  padding: 0 16px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
  transition: background 0.2s;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 150%;
}

.navItem:hover {
  background-color: #fff4f6;
}

.bottomDivider {
  margin-top: auto;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
}
