.weekSelectorWrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.weekSelectorWrapper::-webkit-scrollbar {
  display: none;
}
