.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  max-width: 375px;
  padding: 0 20px;
  box-sizing: border-box;
  /* padding-top: 72px; */
}

.logo {
  display: flex;
  padding: 13.5px 0;
  align-items: center;
  font-weight: 600;
  margin-bottom: 72px;
  margin-left: -20px;
  padding-left: 20px;
}
.logoImage {
  margin-right: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .logo {
    margin-bottom: 80px;
    margin-left: -32px;
    padding-left: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .container {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: none;
    width: 50%;
  }
  .logo {
    display: flex;
    padding: 13.5px 64px;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 0;
    flex-shrink: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 64px;
  }
  .hero {
    display: block;
    position: relative;
    /* width: 50vw; */
    flex: 1;
    min-height: auto;
  }
  .heroImage {
    object-fit: cover;
    object-position: top center;
  }
}
