.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  width: 100%;
  margin-top: 8px;

  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;

  user-select: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.item {
  flex: 0 0 auto;
}

.week_box {
  padding: 16px;
  width: 97px;
  min-width: 97px;
  height: 101px;

  border-radius: 32px;
  border: 4px solid transparent;

  background: var(--color-scheme-foreground);
}

.week {
  font-size: 14px;
}

.numm {
  font-size: 24px;
  font-weight: 700;
}

.current {
  background: var(--color-scheme-accent);
  border-color: var(--color-scheme-border);
}

.active {
  background: var(--color-scheme-accent);
  border-color: var(--color-scheme-foreground-alt);
}

.week_box:disabled {
  background: var(--color-neutral-lightest);
  opacity: 0.6;
  cursor: not-allowed;
}

@media (min-width: 1440px) {
  .week_box {
    width: 113px;
    min-width: 113px;
    height: 117px;
  }

  .numm {
    font-size: 32px;
  }
}
