.container {
  border: 1px solid var(--color-scheme-foreground-alt);
  border-radius: 16px;
  padding: 16px;
  width: 303px;
  height: 91px;
  background: var(--color-scheme-foreground-alt);
}

.titleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.emotions {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 2px 12px;
  width: 119px;
  height: 25px;
  background: var(--color-scheme-foreground);
}
