.container {
  border: 1px solid var(--color-scheme-foreground-alt);
  border-radius: 16px;
  padding: 16px;
  width: 303px;
  height: auto;
  background: var(--color-scheme-foreground-alt);
}

@media screen and (min-width: 768px) {
  .container {
    width: 672px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 357px;
    min-height: 97px;
    height: auto;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 18px;
  }
}

.date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

@media screen and (min-width: 1440px) {
  .date {
    font-size: 14px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.emotions {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--color-scheme-text);
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 2px 12px;
  height: 25px;
  background: var(--color-scheme-foreground);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .emotions {
    font-size: 16px;
    height: 28px;
  }
}
