.container {
  border-radius: 32px;
  padding: 24px 16px;
  width: 335px;
  height: 715px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.btnName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.topContainer {
  margin-top: 24px;
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.list {
  list-style: none;
  gap: 16px;
}

.listItem {
  background: var(--color-scheme-foreground-alt);
  border: 1px solid var(--color-scheme-foreground-alt);
  border-radius: 16px;
  padding: 16px;
  width: 303px;
  height: 91px;
  padding: 16px;
}
