.container {
  border-radius: 32px;
  padding: 24px 16px;
  width: 335px;
  height: 715px;
  background: var(--color-scheme-foreground);
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    height: 715px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 389px;
    height: 727px;
  }
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-bottom: 16px;
}

.btnName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  white-space: nowrap;
}

.btnContainer {
  display: flex;
  gap: 8px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  justify-content: space-between;
}

.scrollWrapper {
  height: 640px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 16px;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 16px;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.listItem {
  height: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1440px) {
  .scrollWrapper {
    height: 655px;
  }

  .list {
    height: 662px;
  }

  .listItem {
    height: 91px;
  }
}
