.statusBlockContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  width: 335px;
}

.statusBlockWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 32px;
  padding: 16px;
  width: 159px;
  height: 105px;
  background-color: var(--color-scheme-foreground);
}

.statusBlockText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

.statusBlockValue {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

@media screen and (min-width: 768px) {
  .statusBlockContainer {
    gap: 32px;
    margin-bottom: 32px;
  }

  .statusBlockWrapper {
    min-width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .statusBlockWrapper {
    min-width: 305px;
    height: 127px;
  }
}