:root {
  --color-scheme-background: var(--color-white);
  --color-neutral-darkest: #000;
  --color-scheme-border: var(--opacity-neutral-darkest-15);
  --color-scheme-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d8d8d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-foreground: var(--color-pastel-pink-lighter);
  --color-scheme-accent: var(--color-pastel-pink);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
  --color-pastel-pink-lightest: #fff9fa;
  --color-pastel-pink-lighter: #fff4f6;
  --color-pastel-pink-light: #ffdae0;
  --color-pastel-pink: #ffcbd3;
  --color-pastel-pink-dark: #cca2a8;
  --color-pastel-pink-darker: #665154;
  --color-pastel-pink-darkest: #4c3c3f;
  --color-scheme-foreground-alt: var(--color-pastel-pink-light);
  --color-oasis-light: #fef1db;
  --color-oasis: #feeccc;
  --color-oasis-dark: #cbbca3;
  --color-oasis-darker: #655e51;
  --color-oasis-darkest: #4c463d;
  --color-oasis-lightest: #fefdf9;
  --color-oasis-lighter: #fefbf4;
  --color-french-pass-darkest: #39484c;
  --color-french-pass: #adeffe;
  --color-french-pass-darker: #4c6065;
  --color-french-pass-dark: #98c1cb;
  --color-french-pass-light: #c4f2fe;
  --color-french-pass-lighter: #e5fafe;
  --color-french-pass-lightest: #fbfefe;
  --color-red: #c60000;
  --font-family: 'Lato', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-scheme-text);
  background: var(--color-scheme-background);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.layout-container{
  margin: 0 auto;
  padding: 0 20px;
  min-width:280px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}

.main-container{
  display: flex;
  flex-direction: column;
 
}
.widgets-wrapper{
  display: flex;
  flex-direction: column;
}

.left-section{
  padding-bottom: 32px;
}

.right-section{
  padding-bottom: 32px;
}

@media (min-width: 768px){
  .layout-container{
    max-width: 768px;
    padding: 0px 32px;
  }
}

@media (min-width: 1440px){
  .layout-container{
    max-width: 1440px;
    flex-direction: row;
    gap:32px;
  }
  .main-content-container{
    margin-left: 312px;
    flex:1;
  }
  .main-container{
    flex-direction: column;
    gap: 16px
  }
  .widgets-wrapper{
    flex-direction: row;
    gap: 32px
  }
}