.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: loading 0.3s ease-in;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  white-space: normal;
  word-spacing: 9999px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
  margin-bottom: 32px;
}

.avatarBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.avatar {
  position: relative;
  width: 164px;
  height: 164px;
  margin-bottom: 24px;
}

.avatarImg {
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 0;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.error_input {
  border: 1px solid red;
  color: var(--color-red);
}

.error {
  font-size: 12px;
  color: var(--color-red);
}

.submitWrap {
  width: 100%;
}

@media (min-width: 768px) {
  .formContainer {
    max-width: 480px;
  }

  .title {
    word-spacing: normal;
    font-size: 36px;
    margin-bottom: 32px;
  }

  .form {
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .formContainer {
    max-width: 480px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .avatar {
    width: 179px;
    height: 179px;
    margin-bottom: 24px;
  }

  .form {
    gap: 24px;
  }
}
  