.backdrop {
  padding: 64px 0px;

  z-index: 9999;
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  margin-inline: 1.5rem;
  padding: 64px 20px;

  position: relative;

  max-width: 768px;
  max-height: 768px;

  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;

  align-items: center;

  background-color: #ffffff;

  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
  }
}

.icon_wrapper {
  position: absolute;

  top: 25px;
  right: 32px;

  max-width: 24px;
  max-height: 24px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(2.25rem, 1.9859rem + 1.1268vw, 3rem);
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
}
