.journeyContainer {
  max-width: 335px;
  margin-bottom: 24px;
}

.btnWrapper {
margin: 0 auto;
border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 4px;
background: var(--color-scheme-foreground);
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 32px;
margin-bottom: 16px;
}

.btn {
width: 100%;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
background: var(--opacity-transparent);
  text-align: center;
  text-wrap: nowrap;
}

.activeBtn {
  background: var(--color-scheme-foreground-alt);
}

.babyCard {
border: 0px solid var(--color-scheme-border);
border-radius: 32px;
padding: 24px;
background: var(--color-scheme-foreground);
}

.imageContainer {
margin-bottom: 32px;
}

.imageWrapper {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 24px;
    border: 1px solid var(--color-scheme-border);
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
    display: block;
  }

  .analogy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  }

  .babyText{
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 16px;
  }

.interestingFactWrapper {
  border-radius: 12px;
  padding: 12px;
  background: var(--color-scheme-foreground-alt);
}

.interestingFactTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 9.5px;
}

.interestingFact {
  display: flex;
  gap: 8px
}

.momCard{
  max-width: 335px;
}

.momBlock {
border-radius: 32px;
background: var(--color-scheme-foreground);
margin-bottom: 24px;
padding: 24px;
}

.momBlockTitle {
font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 1.4;
letter-spacing: 0.01em;
color: var(--color-scheme-text);
margin-bottom: 8px;
}

.momBlockFeelings{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.momBlockStiker {
font-weight: 600;
font-size: 12px;
line-height: 1.6;
border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 4px 10px;
background: var(--opacity-neutral-darkest-5);
display: flex;
align-items: center;
text-align: center;
}

.momBlockText  {
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
}

.momTips {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.momTipTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
}

.momTipText {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

  @media screen and (min-width: 768px) {

  .journeyContainer {
  max-width: 704px;
}

    .imageWrapper {
      max-width: 656px;
    }
  
  .momCard{
  max-width: 704px;
}
  
  }
  
  @media screen and (min-width: 1440px) {
  
  .journeyContainer {
  max-width: 1064px;
}

.btnWrapper {
  max-width: 576px;;
}

.babyCard {
  display: flex;
  gap: 32px;
}

.btnWrapper {
  max-width: 572px;
}

.imageWrapper {
  width: 461px;
}
    
.image {
width: 461px;
height: 379px;
    }

.momCardWrapper {
  display: flex;
  gap: 24px;
}

    .momCard{
  max-width: 650px;
}
  }