.journeyContainer {
  max-width: 335px;
}

.btnWrapper {
margin: 0 auto;
border: 1px solid var(--opacity-transparent);
border-radius: 100px;
padding: 4px;
background: var(--color-scheme-foreground);
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-bottom: 16px;
}

.btn {
width: 100%;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 10px 24px;
background: var(--opacity-transparent);
  text-align: center;
  text-wrap: nowrap;
}

.activeBtn {
  background: var(--color-scheme-foreground-alt);
}

.babyCard {
border: 0px solid var(--color-scheme-border);
border-radius: 32px;
padding: 24px;
background: var(--color-scheme-foreground);
}

.imageContainer {
margin-bottom: 32px;
}

.imageWrapper {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 24px;
    border: 1px solid var(--color-scheme-border);
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
    display: block;
  }

  .analogy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  }

  .babyText{
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 16px;
  }

.interestingFactWrapper {
  border-radius: 12px;
  padding: 12px;
  background: var(--color-scheme-foreground-alt);
}

.interestingFactTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 9.5px;
}

.interestingFact {
  display: flex;
  gap: 8px
}

  @media screen and (min-width: 768px) {
    .imageWrapper {
      max-width: 461px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .imageWrapper {
      width: 461px;
    }
    
    .image {
      width: 461px;
      height: 379px;
    }
  }