.TaskReminderCard {
  border: 0px solid var(--opacity-neutral-darkest-15);
  border-radius: 32px;
  padding: 24px;
  width: 100%;
  max-height: 688px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: var(--color-pastel-pink-lighter);
  margin: 32px 0;
}

.TaskReminderTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--color-neutral-darkest);
}

.TopBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddTaskIconButton {
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

.TasksContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.TasksList{
  max-height: 584px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.TaskItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.NoTasksYetTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}
.AddTsksText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.AddTaskButton {
  border: none;
  background: var(--color-scheme-foreground-alt);
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 191px;
  height: 46px;
  font-weight: 500;
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.AddTaskButton:hover, .AddTaskButton:focus {
  background: var(--color-scheme-background);
  border-bottom: 4px solid var(--color-scheme-border);
  height: 47px;
}

.AddTaskButton:active{
background: var(--color-neutral-light);
height: 47px;
}

.NoTasksContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}


.Completed {
  text-decoration: line-through;
  color: var(--color-neutral-darkest-50);
}

.TaskDate{
  font-family: var(--font-family);
font-weight: 400;
font-size: 10px;
line-height: 160%;
color: var(--color-neutral-darkest);
}

.TaskText {
font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 160%;
color: var(--color-scheme-text);
}

@media (min-width: 768px) {
  .TaskReminderCard{
    max-height: 671px;
  }
  .TasksList{
    max-height: 623px;
  }
}

@media (min-width: 1440px) {
  .TaskReminderCard {
    width:390px;
    height: 499px;
    margin-top: 0;
  }

  .TaskReminderTitle {
    font-size: 24px;
  }


.NoTasksYetTitle {
  font-size: 16px;
}
.AddTsksText {
  font-size: 16px;
}

.AddTaskButton {
  font-size: 16px;
}


  .TaskDate{
    font-size: 12px;
  }
  .TaskText {
    font-size: 14px;
  }
  .TasksList{
    max-height: 389px;
  }
}
