.formWrapper{
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;

    width: 375px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    position: relative;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
}
.label{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-text);
}
.input{
    appearance: none;

    margin-top: 8px;
    padding: 8px 12px;
    height: 37px;
    
    border: 2px solid var(--opacity-transparent);
    border-radius: 12px;
    
    background: var(--opacity-neutral-darkest-5);

    /* text */
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 150%;
    color: var(--opacity-neutral-darkest-60);
    font-weight: 400;
}
.iconDown{
    fill: black;
    position: absolute;
    right: 30px;
    /* ← саме місце правої стрілки */
    top: 50%;
    /* transform: translateY(20%); */
    transition: transform 0.2s ease;
    pointer-events: none;
}
.gender{
    height: 40px;
}

.inputDate{
    width: 100%;
    height: 48px;
}
.divButtons{
    display: flex;
    width: 335px;
    gap: 16px;
    padding-top: 24px;
}
.buttonSave{
    width: calc((335px - 16px) / 2);
    height: 38px;
    
    border: none;
    border-bottom: 4px solid var(--color-scheme-accent);
    border-radius: 100px;
    background: var(--color-scheme-foreground-alt);
}
.buttonCancel {
    width: calc((335px - 16px) / 2);
    height: 38px;

    border: none;
    background: var(--opacity-neutral-darkest-5);
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
    border-radius: 100px;
    padding: 8px 20px;
}
@media(min-width:768px){
    .formWrapper{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .divButtons{
        width: 704px;
        padding-left: 403px;
    }
    .buttonCancel{
        width: 150px;
    }
    .buttonSave{
        width: 135px;
    }
}
@media(min-width:1440px){
    .formWrapper{
        width: 644px;
    }
    .divButtons{
        padding-left: 250px;
    }
    .buttonCancel {
        width: 165px;
    }
    .buttonSave {
        width: 149px;
    }
}