.BabyTodayContainer {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  padding: 24px;
  width: 335px;
  height: 100%;
  background: var(--color-scheme-foreground);
  margin-bottom: 24px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-scheme-text);
  margin-bottom: 16px;
}

.contentWrap {
  margin-bottom: 24px;
}

.imageWrap {
  border: 1px solid var(--color-scheme-border);

  border-radius: 24px;
  min-width: 287px;
  height: 216px;

  margin-bottom: 16px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--color-scheme-text);
}

.text {
  font-weight: 400;
  display: inline;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--font-family);
}

.boldText {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  height: 100%;
  font-family: var(--font-family);
}

.textInfo {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

@media screen and (min-width: 768px) {
  .BabyTodayContainer {
    width: 704px;
    height: 373px;
  }

  .contentWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }

  .imageWrap {
    width: 257px;
    height: 194px;
  }

  .textWrap {
    max-width: 383px;
  }
}

@media screen and (min-width: 1440px) {
  .BabyTodayContainer {
    width: 642px;
    height: 421px;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .boldText {
    font-size: 16px;
  }

  .textInfo {
    font-size: 16px;
    max-height: none;
  }
}
