.container {
  border-radius: 32px;
  width: 335px;
  height: 603px;
  overflow: hidden;
  background: var(--color-scheme-foreground);
  padding: 31px 24px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    height: 765px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 643px;
    height: 727px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .infoContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.titleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.dateContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 20px;
  }
}

.scrollWrapper {
  overflow-y: auto;
  height: 475px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 16px;
  }
}

.date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

@media screen and (min-width: 1440px) {
  .date {
    font-size: 14px;
  }
}

.btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  border-radius: 100px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.emotions {
  display: inline-flex;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  height: 27px;
  background: var(--opacity-neutral-darkest-5);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .emotions {
    font-size: 14px;
    height: 30px;
  }
}
