.mainContent {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding: 14px 20px;
  background: var(--color-scheme-background);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.formTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
  margin-top: 220px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
  background: var(--opacity-neutral-darkest-5);
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.submitButton {
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 41px;
  background: var(--color-scheme-foreground-alt);
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.submitButton:hover {
  background: var(--color-scheme-background);
}

.links {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-text);
  margin-bottom: 220px;
}

.links > a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}

.image {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mainContent {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .mainContent {
    max-width: 1440px;
    padding: 0 64px;
  }
  .image {
    display: block;
  }
}
