.form {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
}

.input {
  width: 100%;
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  height: 37px;
  background: var(--opacity-neutral-darkest-5);
  margin: 0 0 8px 0;
  color: var(--color-scheme-text);
font-size: 14px;
line-height: 150%;
}

.input:focus,
.input:active {
 border: 2px solid var(--color-scheme-accent);

}

.inputInvalid{
  border: 1px solid var(--color-red);
color: var(--color-red);
}

input::placeholder {
  color: var(--opacity-neutral-darkest-60);
  font-family: var(--font-family);

}

.submitButton {
  border: none;
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  background: var(--color-scheme-foreground-alt);
  margin: 16px 0 24px 0;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 150%;
  color: var(--color-scheme-text);
  box-shadow: none;
  outline: none;
  font-family: var(--font-family);
font-size: 16px;
}


.submitButton:hover, .submitButton:focus {
  background: var(--color-scheme-background);
  border-bottom: 4px solid var(--color-scheme-border);
  height: 42px;
}

.submitButton:active{
background: var(--color-neutral-light);
height: 42px;
}

.submitButton:disabled{
  background: var(--color-scheme-foreground-alt);
opacity: 0.3;
border-bottom: 4px solid var(--color-scheme-accent);
height: 42px;
}

.links {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-text);
  margin-bottom: 220px;
}

.links > a {
  text-decoration-skip-ink: none;
  line-height: 160%;

}

.links > a:hover, .links > a:focus {
    border-bottom: 1px solid var(--color-scheme-text);
}

.links > a:active {
  border-bottom: 1px solid var(--color-scheme-accent);
  color: var(--color-scheme-accent);

}

.links > a:disabled {
  opacity: 0.3;
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-red);
  width: 335px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .form {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .formTitle {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .input {
    width: 480px;
    margin: 0 auto 16px;
  }

  .submitButton {
    width: 480px;
    margin: 0 auto 24px;
  }

  .error {
    width: 480px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .form {
    max-width: 520px;
  }

  .formTitle {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .input {
    font-size: 16px;
  }

  .submitButton {
    font-size: 16px;
  }

  .links {
    font-size: 16px;
  }
}
