.feelingCheckCardContainer {
  margin-top: 0;
  border-radius: 32px;
  padding: 24px;
  min-width: 335px;
  height: 193px;
  background: var(--color-scheme-foreground);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}



.contentWrap {
  margin-bottom: 24px;
}

.subtitle {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  font-weight: 600;
}

.text {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
}

.AddTaskButton {
  border: none;
  background: var(--color-scheme-foreground-alt);
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
 width: 225px;
height: 42px;
  font-weight: 500;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.AddTaskButton:hover, .AddTaskButton:focus {
  background: var(--color-scheme-background);
  border-bottom: 4px solid var(--color-scheme-border);
  height: 47px;
}

.AddTaskButton:active{
background: var(--color-neutral-light);
height: 47px;
}

@media screen and (min-width: 769px) {
  .feelingCheckCardContainer {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .feelingCheckCardContainer {
    width: 390px;
    height: 210px;
    margin-top: 0;
  }

  .title {
    font-size: 24px;
  }

.subtitle{
  font-size: 16px;
}

  .text {
    font-size: 16px;
  }

  .AddTaskButton {
  font-size: 16px;
  width: 250px;
}
}