/* ====================  MOBILE ================================ */
.form {
  width: 335px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0 0 32px 0;
  font-family: 'Comfortaa', sans-serif;
}
.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 8px;
}
.input {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  height: 37px;
  color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  outline: none;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  /* row-gap: 24px; */
  margin: 0 0 24px 0;
}
.field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.button {
  font-size: 14px;
  font-family: var(--font-family);
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  padding: 10px 24px;
  height: 42px;
  width: 100%;
  background: #ffdae0;
  font-weight: 500;
  line-height: 160%;
  color: inherit;
  margin: 16px 0 24px 0;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background: #ffffff;
}
.button:active {
  background: #b2b2b2;
  border: none;
}
.input:hover,
.input:active {
  border: 2px solid #ffcbd3;
}

.login {
  font-size: 14px;
  text-align: center;
  font-family: var(--font-family);
}
.error {
  font-size: 12px;
  line-height: 160%;
  color: #c60000;
}
.inputError {
  border: 1px solid #c60000;
  color: #c60000;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-text-fill-color: #000;
}
.link {
  font-family: var(--font-family);
  margin-left: 5px;
  line-height: 160%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/* ========================== TABLET ================================ */
@media only screen and (min-width: 768px) {
  .form {
    width: 480px;
    /* padding: 197.5px 112px;
    padding-bottom: 0; */
  }
}
/* ========================== DESKTOP ================================ */
@media only screen and (min-width: 1440px) {
  .form {
    max-width: 520px;
    /* padding: 177px 56px;
    padding-bottom: 0; */
  }
  .title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .label {
    font-size: 16px;
  }
  .input {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .login {
    font-size: 16px;
  }
}
