/* ====================  костиль :Р (видалити потім)================================ */

body {
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  /* --second-family: "Comfortaa", sans-serif; */
}
/* ====================  костиль :Р (видалити потім)================================ */

/* ====================  MOBILE ================================ */
.form {
  max-width: 375px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Comfortaa', sans-serif;
}
.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 8px;
}
.input {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  height: 37px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.05);
}
.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.button {
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  padding: 10px 24px;
  height: 42px;
  width: 100%;
  background: #ffdae0;
  font-weight: 500;
  line-height: 160%;
  color: inherit;
  outline: none;
  margin-bottom: 24px;
}
.login {
  text-align: center;
}
.link {
  margin-left: 5px;
  line-height: 160%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/* ==================== ///// MOBILE ================================ */
@media only screen and (min-width: 768px) {
}
