.actions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 295px;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .actions {
        flex-direction: row;
        margin-top: 32px;
        gap: 16px;
        width: 640px;
    }
}

@media screen and (min-width: 1200px) {
    .actions {
        flex-direction: row;
        margin-top: 48px;
        gap: 24px;
    }
}